
html, body {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background: #eee;

  font: 9px/14px Lucida Grande, Verdana, Arial, DejaVu Sans, sans-serif;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.metrics-container {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
}

.metrics {
  position: absolute;
  white-space: pre;
  padding: 0;
}

/* * */

.workspace {
  position: relative;
  cursor: default;
  overflow: auto;
}

.world {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  overflow: hidden;
}

.world-contents {
  position: absolute;
  cursor: default;
  transform-origin: top left;
  overflow: visible;
}

.palette {
  position: fixed;
  bottom: 0;
  height: 64px;
  z-index: 101;
  border-top: 2px solid #ccc;
  left: 0;
  right: 0;
  background: #fff;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.feedback {
  position: fixed;
  z-index: 10000;
  pointer-events: none;
}

.dragging {
  position: fixed;
  z-index: 10001;
}

/* * */

.operator {
  background: #7a48c3;
}

.label {
  font: bold 14px/20px Noto Sans, Lucida Grande, Verdana, Arial, DejaVu Sans, sans-serif;
  color: #fff;
  z-index: 1;
}

.switch {
  z-index: 2;
}
.switch-knob {
  transition: transform 100ms linear;
}

.result {
  color: #000;
  font: 16px/20px Source Code Pro, Monaco, monospace;
  white-space: pre;
  display: inline-block;

  /* TODO frames */
  min-height: 12px;
  max-height: 256px;
  overflow-x: hidden;
  overflow-y: auto;
}

.result-Str {
  font: 14px/20px Helvetica Neue, Helvetica, Lucida Grande, Verdana, DejaVu Sans, sans-serif;
}
.result-Str:before, .result-Str:after {
  font: bold 16px/20px Baskerville, Georgia, serif;
  content: "“";
}
.result-Str:after {
  content: "”";
}

.result-Bool,
.result-Symbol {
  /*font: small-caps 16px/20px Helvetica Neue, Helvetica, Lucida Grande, Verdana, DejaVu Sans, sans-serif;*/
  font: small-caps 16px/20px Baskerville, Georgia, serif;
}

.result-Int,
.result-Float {
  margin: -2px 4px 2px;
}

.result-Int,
.result-Float,
.result-Frac-num,
.result-Frac-den {
  font: 14px/20px Source Code Pro, Monaco, monospace;
}

.result-Frac {
  margin: 0 4px;
}
.result-Frac-num,
.result-Frac-den {
  padding: 0 4px;
}
.result-Frac-bar {
  background: #000;
  height: 2px;
}

.field {
  color: #505050;
  font: 14px/20px Noto Sans, Lucida Grande, Verdana, Arial, DejaVu Sans, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  outline: 0;
  box-shadow: none;
}
.field:focus {
  pointer-events: auto;
}

.text-field,
.enum-field {
  padding: 0 0 0 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.enum-field {
  color: #fff;
}

.error .result-label {
  color: #e40046;
}

.progress {
  left: 6px;
  top: 6px;
  height: 2px;
  background: #468;
  opacity: 0;
  /* transition: .3s; */
}
.progress-loading {
  opacity: 1;
}
.progress-error {
  background: #e40046;
  background: #ecc;
}

